<div fxLayout="column" fxLayoutAlign="center center">

  <h1> All Product Details And Product Price Calculation</h1>

  <mat-divider></mat-divider>

  <div fxLayoutAlign="start center" fxLayout="column" fxFlex="70">

    <table border="5">
      <tr>
        <th>Product Name </th>
        <th>Units Per Carton</th>
        <th>Carton Price</th>
        <th>Description</th>
      </tr>

      <tr *ngFor="let product of products; let i = index">
        <td>{{product.name}}</td>
        <td>{{product.unitsPerCarton}}</td>
        <td>{{product.cartonPrice | currency}}</td>
        <td>{{product.description}}</td>
      </tr>

    </table>

  </div>

  <mat-divider></mat-divider>

  <br/>

  <form [formGroup]="productFormGroup" fxLayoutAlign="start center" fxLayout="row" fxFlex="70" fxLayoutGap="1vw">

    <mat-form-field appearance="fill">
      <mat-label>Select Product </mat-label>
      <mat-select formControlName="productId">
        <mat-option *ngFor="let product of products" [value]="product.id">
          {{product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Unit </mat-label>
      <input matInput formControlName="unit" type="number" [min]="0"/>
    </mat-form-field>

    <button [disabled]="!productFormGroup.valid" mat-raised-button color="primary" (click)="calculatePrice()"> Calculate Price </button>

  </form>


  <mat-list style="border: groove">
    <mat-list-item>Carton Amount      : {{priceModel?.cartonAmount | number}}</mat-list-item>
    <mat-list-item>Single Unit Amount : {{priceModel?.singleUnitsAmount | number}}</mat-list-item>
    <mat-list-item>Carton Cost        : {{priceModel?.costOfCartons | currency}}</mat-list-item>
    <mat-list-item>Single Unit Cost   : {{priceModel?.costOfSingleUnits | currency}}</mat-list-item>
    <mat-list-item>Total Cost         : {{priceModel?.totalCost | currency}}</mat-list-item>
  </mat-list>

  <a routerLink="/product-list"> <h3> Calculate Price From Unit 1 to 50 </h3></a>

</div>
